<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
  <h1>First form</h1>
  <label for="fname">First name:</label><br>
  <input type = "text" name = "Name" placeholder = "" ngModel="Name">
  <br/>
  <label for="fname">Last name name:</label><br>
  <input type = "text" name = "Name" placeholder = "" ngModel="Name">
  <br/>
  <label for="fname">Father name:</label><br>
  <input type = "text" name = "Name" placeholder = "" ngModel="Name">
  <br/>
   <label for="fname">Email id:</label><br>
  <input type = "text" name = "emailid" placeholder = "" ngModel="email">
  <br/>
  <label for="fname">Password:</label><br>
  <input type = "password" name = "passwd" placeholder = "" ngModel="pass">
  <br/>
  <input type = "submit" value = "submit"><br/>
  <input type = "button" value ="Back">
</form>
